/* body {
    background-color: aquamarine;
}

h1 {
    color: rgba(77, 63, 226, 0.1)
} */

/* WHAT IS rgba ? 
>
R 레드 [0~255] G 그린 [0~255] B 블루 [0~255] A(alpha>투명도>조절) [0~1] */

/* strong {
    border-bottom;
    : 5px solid currentColor
} */

/*  강사님 inherit 예제
body {
  color: red;
}
h1 {
  color: inherit; > 상속받겠다 의 의미
}
strong {
  border-bottom: 5px solid currentColor;
} */

/* h2 {
    color: blue;
    font-family: 'Pretendard-Regular', Verdana, sans-serif;
}

p {
    font-family: 'Pretendard-Regular', Verdana, sans-serif;
} */

/* h2 {
    color: #999;
    font-family: 'Pretendard-Regular', Verdana, sans-serif;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap'); 
> 외부 링크에서 폰트 따오는 방법*/

@import url('./font/font/Pretendard-Regular.woff');
/* >저장된 폰트 따오는 방법 */

/* font-face 상대경로로 폰트 연결 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('./font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Pretendard-Regular, 'Times New Roman', Dotum, '돋움', sans-serif;
}

------------------------------------ body {

    color: red;
}

h1,
h2 {
    font-weight: normal;
}

h1 {
    color: inherit;
    font-family: 'Black Han Sans', sans-serif;
}

strong {
    border-bottom: 5px solid currentColor;
}

h2 {
    color: #999;
    font-family: 'Bagel Fat One', cursive;
}