@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');


h1 {
    font-family: 'Dosis', sans-serif;
    text-align: center;

}

p {
    font-size: 30px;
    font-weight: bolder;
    text-transform: none;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    text-shadow: 2px 2px 3px orange;
    text-align: center;

}