h1 {
    text-align: center;
    background-color: burlywood;
    border: solid;
}

.intro {
    background-color: aqua;
}

.hi {
    color: darkgreen
}

div {
    color: brown;
}

.fe7th {
    background-color: aquamarine;
}

.message {
    background-color: blueviolet;
}