body,
h1,
h2,
p {
    margin: 0;
}

h1,
h2 {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: underline;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard', sans-serif;
    color: black;
}

.card-ui {

    width: 328px;
    border-radius: 8px;
    /* overflow: hidden; */
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 16px;
}


.card-ui img {
    width: 100%;
    aspect-ratio: 288/196;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-ui h2 {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-ui p {
    font-size: 14px;
    color: #5a6a72;
    margin: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}

.card-ui a {
    font-family: "pretendard";
    padding: 15px;
}

.card-ui .text-group {
    padding: 24px 16px 16px;
}